include ../../_mixins/_title.pug

-var pageTitle = 'Magellan Code & Design - Premium Webdienstleistungen, Apps, Websites & Printdesign aus dem Schwarzwald'

doctype html
html(lang="de")
    head
        title #{pageTitle}
        meta(charset='utf-8')
        meta(name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1")
        
        link(rel='stylesheet', href='/assets/stylesheets/artofmagellan.css')
        link(rel='stylesheet', href='/assets/stylesheets/pagespecific/page.css')
        //link(href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700|Playfair+Display+SC|Playfair+Display" rel="stylesheet")
        link(href='/assets/plugins/featherlight/featherlight.min.css', rel='stylesheet')
        
        include ../../_includes/_js.pug
    
    body
        header
            img.heroimage(src='/assets/images/pixel/projects/magellan-oculustravel-header.png')
            include ../../_includes/_nav.pug
            +nav('page')
            
            +title('Oculus for Travel', "Projekt: Effizienter Workflow - Von Konzept bis Code", 'UI', '#startreading')
            
        main#startreading
            //- Put every aspect of this into mixins?
            .page
                p.page__author By 
                    b Jonathan Arbely & Sebastian Saier
                span.page__date August, 2016
                span.goldbar
                p.page__text When National Geographic caught up with Hegar by phone at her home in Austin, Texas, the Purple Heart recipient explained why she sued the Pentagon, how she would never have become a pilot if her mother had not left an abusive husband, and how, in 2009, in 
                    a(href='#') Afghanistan
                    | , everything she had prepared for came together when her chopper was hit by the Taliban.
                b It was during your second mission to Afghanistan, in 2009, that the book’s central incident occurs. Talk us through that day on June 29th — and how it represented your ultimate challenge in life.
                img(src='../../assets/images/pixel/blog/placeholder.png').page__image
                div.page__imagetitle
                    p.page__author "A catchy image description" - By 
                        b Jonathan Arbely
                p.page__text When National Geographic caught up with Hegar by phone at her home in Austin, Texas!
                //-img(src='../../assets/images/pixel/blog/placeholder-large.png', data-featherlight='/assets/images/pixel/projects/magellan-oculustravel-header.png').page__image.page__image--large
                img(src='../../assets/images/pixel/blog/placeholder-large.png').page__image.page__image--large
                br

            section.loadmore.c.loadmore__anime
                img.icon.icon--xs(src='../../assets/images/vector/iconset/prev.svg')
                a(href='/#impressionen') Zurück zur Übersicht

        script(src='/assets/plugins/featherlight/featherlight.min.js', type='text/javascript')
    
    include ../../_includes/_footer.pug