include ../../_includes/_pageincludes.pug

-var pageTitle = 'Magellan Code & Design - New Year in Paris Wallpaper Collection'

doctype html
html(lang="de")
    head
        include ../../_includes/_meta.pug
        +meta('en', 'BLOG | Magellan Code & Design Consulting - Paris Wallpaper Collection')
        +css()
        include ../../_includes/_js.pug
    
    body
        include /_includes/_globalbody.pug
        
        header
            img.heroimage(src='/assets/images/pixel/blog/wallpaper/magellan-paris-header.jpg')
            include ../../_includes/_nav.pug
            +nav('page', true)
            +title("New Year in PARIS", "Wallpaper Collection", 'Photography', '#startreading', false, false, true)
            
        main#startreading
            //- Put every aspect of this into mixins?
            .page
                p.page__author By 
                    b Valeria Raffa & Jonathan Arbely
                span.page__date October, 2017
                span.goldbar
                p.page__text The first Wallpaper-Collection by Magellan: “New Year in Paris”. Moments in black & white.  All images were taken between the last days of December 2016 and the first days of 2017 in Paris, France. Created in collaboration with 
                    a(href='https://www.instagram.com/valeriaview/', target='_blank') @valeriaview
                    | . Enjoy!
                p.page__text License: For personal use only.
                br
                br
                
                div.page__image--wrapper
                    img(src='../../assets/images/pixel/blog/wallpaper/magellan-paris-wallpapercollection-i.jpg').page__image.page__image--large
                    div
                        a(href='http://cdn.jonathanarbely.de/blog/newyearinparis/magellan-paris-wallpapercollection-i.png', download).page__image--link.hide--smartphone
                            h5 Download (4:3, 16:9 & 16:10)
                        a(href='http://cdn.jonathanarbely.de/blog/newyearinparis/ultrawide/magellan-paris-wallpapercollection-i-ultrawide.png', download).page__image--link.hide--smartphone
                            h5 Download (Ultrawide 21:9)
                        a(href='http://cdn.jonathanarbely.de/blog/newyearinparis/phone/magellan-paris-wallpapercollection-i-phone.png', download).page__image--link
                            h5 Download (Smartphone)
                br
                div.page__image--wrapper
                    img(src='../../assets/images/pixel/blog/wallpaper/magellan-paris-wallpapercollection-ii.jpg').page__image.page__image--large
                    div
                        a(href='http://cdn.jonathanarbely.de/blog/newyearinparis/magellan-paris-wallpapercollection-ii.png', download).page__image--link.hide--smartphone
                            h5 Download (4:3, 16:9 & 16:10)
                        a(href='http://cdn.jonathanarbely.de/blog/newyearinparis/ultrawide/magellan-paris-wallpapercollection-ii-ultrawide.png', download).page__image--link.hide--smartphone
                            h5 Download (Ultrawide 21:9)
                        a(href='http://cdn.jonathanarbely.de/blog/newyearinparis/phone/magellan-paris-wallpapercollection-ii-phone.png', download).page__image--link
                            h5 Download (Smartphone)
                br
                div.page__image--wrapper
                    img(src='../../assets/images/pixel/blog/wallpaper/magellan-paris-wallpapercollection-iii.jpg').page__image.page__image--large
                    div
                        a(href='http://cdn.jonathanarbely.de/blog/newyearinparis/magellan-paris-wallpapercollection-iii.png', download).page__image--link.hide--smartphone
                            h5 Download (4:3, 16:9 & 16:10)
                        a(href='http://cdn.jonathanarbely.de/blog/newyearinparis/ultrawide/magellan-paris-wallpapercollection-iii-ultrawide.png', download).page__image--link.hide--smartphone
                            h5 Download (Ultrawide 21:9)
                        a(href='http://cdn.jonathanarbely.de/blog/newyearinparis/phone/magellan-paris-wallpapercollection-iii-phone.png', download).page__image--link
                            h5 Download (Smartphone)
                br
                div.page__image--wrapper
                    img(src='../../assets/images/pixel/blog/wallpaper/magellan-paris-wallpapercollection-iv.jpg').page__image.page__image--large
                    div
                        a(href='http://cdn.jonathanarbely.de/blog/newyearinparis/magellan-paris-wallpapercollection-iv.png', download).page__image--link.hide--smartphone
                            h5 Download (4:3, 16:9 & 16:10)
                        a(href='http://cdn.jonathanarbely.de/blog/newyearinparis/ultrawide/magellan-paris-wallpapercollection-iv-ultrawide.png', download).page__image--link.hide--smartphone
                            h5 Download (Ultrawide 21:9)
                        a(href='http://cdn.jonathanarbely.de/blog/newyearinparis/phone/magellan-paris-wallpapercollection-iv-phone.png', download).page__image--link
                            h5 Download (Smartphone)
                br
                div.page__image--wrapper
                    img(src='../../assets/images/pixel/blog/wallpaper/magellan-paris-wallpapercollection-v.jpg').page__image.page__image--large
                    div
                        a(href='http://cdn.jonathanarbely.de/blog/newyearinparis/magellan-paris-wallpapercollection-v.png', download).page__image--link.hide--smartphone
                            h5 Download (4:3, 16:9 & 16:10)
                        a(href='http://cdn.jonathanarbely.de/blog/newyearinparis/ultrawide/magellan-paris-wallpapercollection-v-ultrawide.png', download).page__image--link.hide--smartphone
                            h5 Download (Ultrawide 21:9)
                        a(href='http://cdn.jonathanarbely.de/blog/newyearinparis/phone/magellan-paris-wallpapercollection-v-phone.png', download).page__image--link
                            h5 Download (Smartphone)
                br
                div.page__image--wrapper
                    img(src='../../assets/images/pixel/blog/wallpaper/magellan-paris-wallpapercollection-vi.jpg').page__image.page__image--large
                    div
                        a(href='http://cdn.jonathanarbely.de/blog/newyearinparis/magellan-paris-wallpapercollection-vi.png', download).page__image--link.hide--smartphone
                            h5 Download (4:3, 16:9 & 16:10)
                        a(href='http://cdn.jonathanarbely.de/blog/newyearinparis/ultrawide/magellan-paris-wallpapercollection-vi-ultrawide.png', download).page__image--link.hide--smartphone
                            h5 Download (Ultrawide 21:9)
                        a(href='http://cdn.jonathanarbely.de/blog/newyearinparis/phone/magellan-paris-wallpapercollection-vi-phone.png', download).page__image--link
                            h5 Download (Smartphone)
                br
                div.page__image--wrapper
                    img(src='../../assets/images/pixel/blog/wallpaper/magellan-paris-wallpapercollection-vii.jpg').page__image.page__image--large
                    div
                        a(href='http://cdn.jonathanarbely.de/blog/newyearinparis/magellan-paris-wallpapercollection-vii.png', download).page__image--link.hide--smartphone
                            h5 Download (4:3, 16:9 & 16:10)
                        a(href='http://cdn.jonathanarbely.de/blog/newyearinparis/ultrawide/magellan-paris-wallpapercollection-vii-ultrawide.png', download).page__image--link.hide--smartphone
                            h5 Download (Ultrawide 21:9)
                        a(href='http://cdn.jonathanarbely.de/blog/newyearinparis/phone/magellan-paris-wallpapercollection-vii-phone.png', download).page__image--link
                            h5 Download (Smartphone)
                br
                div.page__image--wrapper
                    img(src='../../assets/images/pixel/blog/wallpaper/magellan-paris-wallpapercollection-viii.jpg').page__image.page__image--large
                    div
                        a(href='http://cdn.jonathanarbely.de/blog/newyearinparis/magellan-paris-wallpapercollection-viii.png', download).page__image--link.hide--smartphone
                            h5 Download (4:3, 16:9 & 16:10)
                        a(href='http://cdn.jonathanarbely.de/blog/newyearinparis/ultrawide/magellan-paris-wallpapercollection-viii-ultrawide.png', download).page__image--link.hide--smartphone
                            h5 Download (Ultrawide 21:9)
                        a(href='http://cdn.jonathanarbely.de/blog/newyearinparis/phone/magellan-paris-wallpapercollection-viii-phone.png', download).page__image--link
                            h5 Download (Smartphone)
                br
                b.page__text License Agreement
                p.page__text TLDR; For personal use only. Non commercial license.
                p.page__text Magellan Code & Design Consulting ("Jonathan Arbely") grants users a non-exclusive perpetual personal use license subject to the following restrictions:
                p.page__text This license is for personal use only. Personal use means non-commercial use of the image(s) for display on personal websites, devices and computers, or making prints or products for personal use. The image(s) may not be used in any way whatsoever in which you charge money, collect fees, or receive any form of remuneration. The image(s) may not be used in advertising or submitted for contests. The image(s) may not be resold, relicensed, or sub-licensed.
                p.page__text High resolution and mid resolution image(s) may not be provided to third parties in their digital format, except for the purpose of creating prints or products. 
                p.page__text Social Media image(s) provided by Photographer must keep Photographer's watermark visible in all usages. Social Media image(s) may be shared with third parties who must adhere to the restrictions stated in the first bullet. Social Media images may not be printed. 
                p.page__text Image(s) may not be altered. 
                p.page__text Title and ownership, and all rights now and in the future, of and for the image(s) remain exclusively with Jonathan Arbely.
                br
                span.goldbar
                b.page__author Find the Photographers on Instagram:
                
                blockquote(class="instagram-media" data-instgrm-captioned data-instgrm-version="7" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:658px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);")
                    div(style="padding:8px;")
                        div(style=" background:#F8F8F8; line-height:0; margin-top:40px; padding:50.0% 0; text-align:center; width:100%;")
                            div(style=" background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAMUExURczMzPf399fX1+bm5mzY9AMAAADiSURBVDjLvZXbEsMgCES5/P8/t9FuRVCRmU73JWlzosgSIIZURCjo/ad+EQJJB4Hv8BFt+IDpQoCx1wjOSBFhh2XssxEIYn3ulI/6MNReE07UIWJEv8UEOWDS88LY97kqyTliJKKtuYBbruAyVh5wOHiXmpi5we58Ek028czwyuQdLKPG1Bkb4NnM+VeAnfHqn1k4+GPT6uGQcvu2h2OVuIf/gWUFyy8OWEpdyZSa3aVCqpVoVvzZZ2VTnn2wU8qzVjDDetO90GSy9mVLqtgYSy231MxrY6I2gGqjrTY0L8fxCxfCBbhWrsYYAAAAAElFTkSuQmCC); display:block; height:44px; margin:0 auto -44px; position:relative; top:-22px; width:44px;")
                        p(style="margin:8px 0 0 0; padding:0 4px;")
                            a(href="https://www.instagram.com/p/BPlB0OMARZB/" style=" color:#000; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none; word-wrap:break-word;" target="_blank") Cathédrale Notre-Dame de Paris ⛪󾓧 It&#39;s such a beautiful view and lovely place. #france🇫🇷❤️#paris #cathedralenotredame #notredame #paris_vacations #walking #sky☁ #coldday #creatingmemories #sea #placeduparivs #french #view #parislove #photographieparis #placeduparvisnotredame #lovely #kurztrip #frankreich #paris2016🇫🇷 #kathedralenotredame #fluss #kathedralenotredamedeparis #francia #ig_paris #cattedraledinotredame #fiume #laseine #panoramaview #prospettiva
                        p(style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;") Ein Beitrag geteilt von Valeria Raffa (@valeriaview) am
                            time(style=" font-family:Arial,sans-serif; font-size:14px; line-height:17px;" datetime="2017-01-22T19:34:55+00:00") 22. Jan 2017 um 11:34 Uhr
                            
                blockquote(class="instagram-media" data-instgrm-captioned data-instgrm-version="7" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:658px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);")
                    div(style="padding:8px;")
                        div(style=" background:#F8F8F8; line-height:0; margin-top:40px; padding:50.0% 0; text-align:center; width:100%;")
                            div(style=" background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAMUExURczMzPf399fX1+bm5mzY9AMAAADiSURBVDjLvZXbEsMgCES5/P8/t9FuRVCRmU73JWlzosgSIIZURCjo/ad+EQJJB4Hv8BFt+IDpQoCx1wjOSBFhh2XssxEIYn3ulI/6MNReE07UIWJEv8UEOWDS88LY97kqyTliJKKtuYBbruAyVh5wOHiXmpi5we58Ek028czwyuQdLKPG1Bkb4NnM+VeAnfHqn1k4+GPT6uGQcvu2h2OVuIf/gWUFyy8OWEpdyZSa3aVCqpVoVvzZZ2VTnn2wU8qzVjDDetO90GSy9mVLqtgYSy231MxrY6I2gGqjrTY0L8fxCxfCBbhWrsYYAAAAAElFTkSuQmCC); display:block; height:44px; margin:0 auto -44px; position:relative; top:-22px; width:44px;")
                        p(style=" margin:8px 0 0 0; padding:0 4px;")
                            a(href="https://www.instagram.com/p/BaLo1kkBYIv/" style=" color:#000; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none; word-wrap:break-word;" target="_blank") Discovering Paris 🎞 #paris #France #bw #blackandwhitephotography #blackandwhite #photography #street #streetsofparis #streetphotography #moment #architecture #brasserie #winter #newyearseve #ekyog #urban #urbanphotography #shotonmylumia #lumia950 #23 #paris_vacations #vscocam #instavsco Edited in #VSCO
                        p(style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;") Ein Beitrag geteilt von Jonathan Arbely (@jonathanoffroad) am
                            time(style=" font-family:Arial,sans-serif; font-size:14px; line-height:17px;" datetime="2017-10-13T08:40:59+00:00") 13. Okt 2017 um 1:40 Uhr
                
                script(async defer src="https://platform.instagram.com/en_US/embeds.js")

            section.loadmore.c.loadmore__anime
                img.icon.icon--xs(src='../../assets/images/vector/iconset/prev.svg')
                a(href='/#blog') Zurück zur Übersicht
    
    include ../../_includes/_footer.pug
    +footer('en')