include _mixins/_card.pug
include _mixins/_ticket.pug
include _mixins/_pamphlet.pug
include _mixins/_poster.pug
include _mixins/_title.pug
include _mixins/_css.pug

doctype html)
html(lang="en")
    head
        include _includes/_meta.pug
        +meta('en')
        +css('index')
        include _includes/_js.pug
        script(src='/assets/plugins/jquery-smoothscroll/jquery-smoothscroll.min.js' type='text/javascript' defer)
    
    body
        include _includes/_globalbody.pug
    
        header
            include _includes/_nav.pug
            +nav('index', 'en')
            +title('Your project,', 'Web & App Development / UI & UX / Printdesign / Workflow & Performance Consulting / SEO / On Site Presence', '⚡ We have designed and built websites that have reached millions around the globe.', '#impressionen', 'Our Ambition.', true, '')
            .gradient--bottom
        script.
            // Randomize Headerimage
            var myArray = [
              "url('/assets/images/pixel/magellanmedia-hero.jpg')",
              "url('/assets/images/pixel/magellanmedia-hero-iii.jpg')"
            ];
            $('header').css('background-image',myArray[Math.floor(Math.random()*myArray.length)]);
            
        main
            section.knowhow#kompetenzen
                h3 Skills
                div.filter
                    span.petals
                    a.filter__item.filter__item--active#dev(href='#kompetenzen') Web &amp; App
                    a.filter__item#design(href='#kompetenzen') Print &amp; Screendesign
                br
                br
                div.category#skillsDev
                    
                    div.category__item.category__item--active#switchFrontend
                        a(href='#kompetenzen')
                            svg
                                use(xlink:href='#magellan-iconset--frontend')
                            h4 Frontend
                            span.category__item__meta Development
                            span.goldbar
                    
                    div.category__item#switchApp
                        a(href='#kompetenzen')
                            svg
                                use(xlink:href='#magellan-iconset--app')
                            h4 App
                            span.category__item__meta Development
                            span.goldbar
                    
                    div.category__item#switchBackend
                        a(href='#kompetenzen')
                            svg
                                use(xlink:href='#magellan-iconset--backend')
                            h4 Backend
                            span.category__item__meta Development
                            span.goldbar
                    
                    div.category__item#switchPerformance
                        a(href='#kompetenzen')
                            svg
                                use(xlink:href='#magellan-iconset--performance')
                            h4 Performance
                            span.category__item__meta Consulting
                            span.goldbar
                
                div.category.category--inactive#skillsDesign
                    
                    div.category__item.category__item--active#switchDesign
                        a(href='#kompetenzen')
                            svg
                                use(xlink:href='#magellan-iconset--frontend')
                            h4 Screendesign
                            span.category__item__meta & UI
                            span.goldbar
                    
                    div.category__item#switchPrint
                        a(href='#kompetenzen')
                            svg
                                use(xlink:href='#magellan-iconset--seo')
                            h4 Print
                            span.category__item__meta Design
                            span.goldbar
                br
                div.c.c--overflow
                    +card('cardFrontend', 'Web Development', '', 'Frontend', 'We develop responsive, maintainable, fast and cutting-edge Frontend Experiences for the modern Web. To achieve these standards we make use of a broad spectrum of modern web technologies like Pug (HTML), SASS (+BEM), AngularJS, jQuery and professional workflow- & version-control tools like NPM, Gulp and Git.', '', '')
                    
                    +card('cardApp', 'App Development', '', 'Native Mobile Apps', 'We code native & fluid mobile Apps for iOS, Android and Windows using the popular Ionic Framework and its vast library of native PlugIns. This ensures great compatibility with OS native User Experience features and habits. All while maintaining the app through one codebase. From whiteboard to appstore - one seamless process.', '', '', 'card--inactive')
                    
                    +card('cardBackend', 'Serverless & Serverside', '', 'Backend', 'We build Content Management Systems, serverside Software as well as Plugins & Themes for WordPress. We develop both classic solutions using PHP & mySQL and Progressive Web-Apps, SPAs and hybrid Apps using Realtime DB Systems like Firebase and MVC architecture style frameworks like AngularJS and Ionic.', '', '', 'card--inactive')
                    
                    +card('cardPerformance', 'Consulting', '', 'Performance', 'Performance and the modern web go hand in hand. To create products that perform well on a multitude of devices & network conditions and thus enhance user experience, are standard work practice for us. Lightning fast above-the-fold loading, performance oriented workflow, GZIP- and CDN-Distribution of content are just some enhancements we implement.', '', '', 'card--inactive')
                    
                    
                    +card('cardScreendesign', 'Conception & Design', '', 'Screendesign', 'We design clean, sophisticated and friendly user interfaces and build interactive prototypes using state-of-the-art design tools. By doing iterativ design, we keep the customer in the loop throughout the design process, so feedback can be discussed and implemented on a regular basis.', '', '', 'card--inactive card--print')
                    
                    +card('cardPrint', 'Conception & Design', '', 'Printdesign', 'From concept to final print, we design digital and analog print products like posters, flyers, business cards and magazines. For that we use industry standard desktop publishing and typesetting software. To guarantee the best possible print quality, we directly hand over the files to the printing company.', '', '', 'card--inactive card--print')

            hr
            section.showcase#impressionen
                h3 Work
                div.filter
                    a.filter__item.filter__item--active#code(href='#impressionen') Web &amp; App
                    a.filter__item#designs(href='#impressionen') Print &amp; Design
                    //-a.filter__item#plugins(href='#impressionen') Plugins
                br
                br
                br
                br
                br
                div.c.c--overflow
                    //- Highlight

                    +card('mkm', 'Vue.js, Dash.js, JWT, Browserify, REST-API, ES6', 'ongoing since 11/2019', '☁️ Mekomaga', 'Collaboration made in Germany — in a team of two a platform for DRM-protected media management was conceptualized, designed and developed from A to Z. Built according to the strictest German data protection laws with the latest DRM technologies and persistent authentication. Collaborate securely — present your media: “Upload files, put together a show and share it with customers and interested parties using a special shareable link. You can combine different file types in one show and you always have control over who can view and comment on them.”', 'https://mekomaga.net/', 'Start today: 30 days free trial available', 'cat_code card--highlight', true, '', 'true', 'https://dribbble.com/jarbely/collections/3272747-Mekomaga')
                    
                    +card('nnl', 'Ionic Framework & REST-API', 'ongoing since 02/2019', 'German National Parks App', 'A hybrid app for iOS and Android is being developed on behalf of the Nationale Naturlandschaften e.V. This brings all German national parks, biosphere reserves, nature parks and certified wilderness areas in Germany to all common mobile devices. Based on latest technologies and with elements of “gamification”, a modern, beautiful, customizable and fast user experience is crafted. The main intention is to inspire younger target groups in particular for the topic of “national natural landscapes”. The app is connected to the existing WordPress backend of the website via REST API and GraphQL.', '#kontakt', 'You can request to join the "Closed Beta" testphase', 'cat_code card--highlight', false, '', 'true', 'https://dribbble.com/shots/8323435-National-Parks-App-Concept-Daily-UI-Challenge-001')

                div.c.c--overflow
                    //- Code Category
                    
                    +card('ih', 'Frontend, Design, Performance & Workflow', '02/2018', 'Interhome', 'Interhome offers more than 50k quality-tested vacation-homes online. Working with the Interchalet Team in Freiburg, we significantly contributed to the new and responsive Website, which was designed and developed implementing SCRUM and iterativ improvements.', 'projekte/2018/interhome', 'Read Project Report (German)', 'cat_code')

                    +card('bymagellan', 'Sophisticated. Minimalist. Perfection.', '10/2017', 'Art of Magellan', "The Design Language developed for our 'Magellan Code & Design Consulting' Brand & Portfolio Website represents our sophisticated, minimalist and ambitious approach. Whether that's Coding, Designing or Consulting, our Brand & Portfolio represent us, and convey to our Clients a powerful first impression.", 'blog/2019/bymagellan', 'Continue to read', 'cat_code')

                    +card('tariffuxx', 'Design & Development', '04/2017', 'Tariffuxx.de', 'The German market leader in B2B-Services for tariff comparisons in the communications sector requested a reworked CI, unified and overhauled online design (B2B & B2C) as well as matching print products for a fresh new appearance across multiple digital and analog channels.', 'https://tariffuxx.de/', 'Visit Website', 'cat_code', true, '', 'true', 'https://dribbble.com/shots/4502341-Price-Comparison-Website-Design-Bright-Colorful')

                    +card('messmer', 'Design, Development & SEO', '02/2017', 'Messmer Pen Careers', 'For the Messmer Pen GmbH in Emmendingen we designed & developed a new and responsive career website with WordPress CMS-Implementation. For that, a custom theme was developed. Employees can now easily edit and create new content.', 'projekte/2017/messmerkarriere', 'Read Case Study (German)', 'cat_code', '', '', 'true', 'https://dribbble.com/shots/4599630-Quality-Pen-Company-Career-Website')
                    
                    +card('ph', 'Design', '2016 bis 2017', 'Profi-Homepage', 'For the Constance Agency Profi-Homepage of the Mediafavoriten GmbH in the south of Germany a selection of different Screendesigns have been crafted to serve their need to react quickly to new webdesign assignments coming from different industry sectors.', 'projekte/2016/ph', 'Have a look', 'cat_code')
                    
                    +card('oculustravel', 'Design & Development', '08/2016', 'Oculus for Travel', 'During a university course for online design and conception, this interactive prototype was designed and coded in team of two. Complete with a real use-case and call-to-action. The workflow was quick and efficient.', 'projekte/2016/oculusfortravel', 'Discover Screendesigns (German)', 'cat_code', '', '', 'true', 'https://dribbble.com/shots/4502316-Oculus-Rift-VR-for-Travel-Agencies')
                    
                    //-+card('hallo', 'Research, Design & Development', '02/2017', 'Realtime Chat App', "To accompany the research done in Jonathan's bachelors thesis, he developed and designed a modern hybrid Chat-App codenamed 'Hallo' using AngularJS & Google Firebase. This offered significant insights into the performance advantages and drawbacks of current web technologies.", '#impressionen', 'Will be published to GitHub soon', 'cat_code')
                    
                    +card('tandem', 'Research, Design & Development', '01/2016', 'Social Network: Tandem', 'The failed startup. The idea: A social network to find people that share similar hobbies & interests and would possibly make good new friends or acquaintances. Perfect e.g. for people who moved to a new area and are having a tough time finding new friends. How it went?', '#impressionen', 'Soon to be published here', 'cat_code')
                    
                    //-+card('app', 'UX & Design', '06/2016', 'UX Design Project', 'During the uni course "Ambient Media" at the Furtwangen University, the app-concept "Röntgen" was created. The goal was to create unobtrusive and intuitive UI. Some results can be found on Dribbble.', 'https://dribbble.com/shots/4563908-Augmented-Reality-App-Design-Concept', 'Open on Dribbble', 'cat_code', true, '', 'true', 'https://dribbble.com/shots/4563908-Augmented-Reality-App-Design-Concept')
                    
                    //- Design Category
                    
                    +card('rezept', 'Print Design', '11/2016', 'Recipe Template', 'During a Uni. Typography course, this recipe template design was created. The goal was to explain how to quickly prepare a difficult and exotic recipe through the utilization of good print design and typography. This design was done using Adobe InDesign and Illustrator.', 'https://www.dropbox.com/s/lfcks258pevespk/jonathan_arbely_rezept.pdf?dl=0', 'Open Recipe (PDF - 7.5MB)', 'cat_design', true)
                    
                    +card('medienwerke', 'Print Design', '01/2017', 'Course Poster', "This poster was designed to guide visitors of the Furtwangen University's media-exhibition event ''Tag der Medien'' towards all the design work done in a Typography course over one semester.", 'https://www.dropbox.com/s/4artfhni3267sw5/jonathan_arbely_medienwerke-plakat.pdf?dl=0', 'Open Poster (PDF - 21MB)', 'cat_design', true)
                    
                    +card('roadtrip', 'Print Design', '12/2016', 'Book Cover', 'During a Uni. Typography course, this book cover was designed. The lettering "Roadtrip" was done using calligraphy, then covered with glue and dirt. This design was done using Adobe Illustrator and Photoshop.', 'https://www.dropbox.com/sh/ftlqqkokw2b01cx/AACSOF4ugwVY4IW_18g1U5w5a?dl=0', 'Arbeit entdecken', 'cat_design', true)
                    
                    +card('juedlehrhaus', 'Print Design', '11/2016 & 07/2018', 'Flyer', 'This flyer was designed for the jewish educational center in Emmendingen, Germany. It informed readers of the upcoming series of educational lectures and events. This flyer was prepared in Adobe InDesign.', 'https://1drv.ms/f/s!Av3isFzLcfReiJU_KTqe0E2OXqTBbA', 'Open Flyer', 'cat_design', true)
                    
                    //- Plugin Category
                    
                    //-+card('ull', 'jQuery Plugin', '01/2018', 'Unslider Lazyload & Thumbnails', 'Extends unslider.js with lazyloading functionality, enables sourceset usage and introduces Thumbnails. Fully opensource and extendable. Powers websites that are used by thousands every month.', 'projekte/2018/unsliderlazyload', 'Demo & Code', 'cat_plugins')
                br
                //-div.c
                    span.loadmore
                        img.icon.icon--m(src='assets/images/vector/iconset/cloud-computing.svg')
                        | Mehr hervorgehobene Projekte
                    //- Onclick, inject a pug generated html structure with more projects
                br
                br
                //-h5 Current Projects
                //-br
                //-div.c.c--overflow
                    +pamphlet('interchalet', 'Frontend & Design', 'Interchalet Freiburg', 'May 2017 until today')
                //-br
                //-br
                //-br
                h5 Additional Projects
                br
                div.c.c--overflow
                    //- Code Category
                    +ticket('cnny', 'Contract Mediation - 2018', 'Connys Hundekeksmanufaktur', 'http://connys-hundekeksmanufaktur.de/', 'Visit', 'cat_code')
                    //-+ticket('mskbhz', 'Contract Mediation - 2017', 'Music Society Buchholz', 'http://mvbuchholz.de/', 'Visit', 'cat_code')
                    //-+ticket('bbev', 'WordPress - 2017', 'Bies Büdie 05 E.V.', 'http://www.bies-büdie.de', 'Visit', 'cat_code')
                    +ticket('jsg', 'WordPress - 2017', 'Juristische Studiengesell. KA', 'https://jsg-karlsruhe.de', 'Visit', 'cat_code')
                    //-+ticket('msk', 'WordPress & Theme - 2016', 'MSK - Premium Snow Tech.', 'http://www.msk-snow.com', 'Visit', 'cat_code')
                    +ticket('juedmuseum', 'WordPress - 2015', 'Jewish Museum Em.', 'http://www.juedisches-museum-emmendingen.de', 'Visit', 'cat_code')
                    //-+ticket('best', 'HTML5 & CSS3 - 2015', 'B.E.S.T. Office Services', 'http://buero-express-service-team.com', 'Visit', 'cat_code')
                    +ticket('grundschule', 'WordPress - 2014', 'Primary School Windenreute', 'http://www.grundschule-windenreute-maleck.de', 'Visit', 'cat_code')
                    //-+ticket('fewo', 'HTML5 & CSS3 - 2013', 'Holiday Home Gutjahr', 'http://www.ferienwohnung-gutjahr.de', 'Visit', 'cat_code')
                    
                    //- Design Category
                    //-+ticket('gglmyb', 'Infographic', 'Google My Business', 'https://www.profi-homepage.de/infografik-google-my-business/', 'Discover Online', 'cat_design')
            hr
            section.team#team
                h3 About us
                div.subtitle__wrapper
                    span.subtitle Pick your team. One or both.
                br
                br
                br
                br
                div.portfolio__wrapper
                    div.portfolio
                        img.portfolio__image.lightmode(src='/assets/images/pixel/magellan-jonathanarbely.png')
                        img.portfolio__image.darkmode(src='/assets/images/pixel/magellan-jonathanarbely-dark.png')
                        div.portfolio__content
                            svg.portfolio__content__ornament
                                use(xlink:href='#ornament')
                            span.portfolio__content__name Jonathan Arbely
                            span.portfolio__content__rank Freelance Developer & Designer
                            br
                            p.portfolio__content__text--quote „Make overachieving a habit.“
                            p.portfolio__content__text Since 2013, I'm actively working as a freelance Full-Stack Web & App Developer & Designer. I've worked with different clients coming from a broad range of industries on an array of challenging and interesting projects. As a web enthusiast, I'm constantly developing myself and like delving into topics related to development, design and best practices as well as trying out new things. My goal is to attain and keep a deep understanding of the technologies that power our digitized online world.
                            p.portfolio__content__text--edu Bachelor of Science at the Faculty of „Digital Media“ at Furtwangen University.
                            br
                            svg.portfolio__content__leaf
                                use(xlink:href='#leaf')
                            a.portfolio__content__cta.btn.btn--light(href='mailto:jonathan@bymagellan.co' target='_blank') jonathan@bymagellan.co
                            
                    div.portfolio
                        img.portfolio__image.lightmode(src='/assets/images/pixel/magellan-valeriaraffa.png')
                        img.portfolio__image.darkmode(src='/assets/images/pixel/magellan-valeriaraffa-dark.png')
                        div.portfolio__content
                            svg.portfolio__content__ornament
                                use(xlink:href='#ornament')
                            span.portfolio__content__name Valeria Raffa
                            span.portfolio__content__rank Freelance Developer
                            br
                            p.portfolio__content__text--quote „Clean code is great UX“
                            p.portfolio__content__text Since 2017 I have been developing websites & apps as a freelancer and have testing and optimized their UX. My stack includes Vue.js, the Ionic Framework and Java applications. I improve software through analysis and user testing of the user experience and have optimized some of the successful projects we have done in the past that are used online by thousands every day. Every day is an opportunity for us to learn and improve. And that is the motto we follow.
                            p.portfolio__content__text--edu Bachelor of Science at the Faculty of „Business Information Systems“ at Furtwangen University.
                            br
                            svg.portfolio__content__leaf
                                use(xlink:href='#leaf')
                            a.portfolio__content__cta.btn.btn--light(href='mailto:valeria@bymagellan.co' target='_blank') valeria@bymagellan.co
            br
            hr
            section.contact#kontakt
                h3 Contact
                div.subtitle__wrapper
                    span.subtitle Whether you're representing an international corporation or a regional club, your project is our ambition.
                        br
                div.subtitle__wrapper
                    .gps__wrapper.flex
                        .gps
                            .pulse
                            .dot
                        span.subtitle.ruby Currently available for remote and onsite work
                br
                br
                br
                br
                div.category
                    div.category__item.category__item--active#switchMail
                        a(href='#kontakt')
                            svg
                                use(xlink:href='#magellan-iconset--mail')
                            h4 E-Mail
                            span.category__item__meta Address
                            span.goldbar
                    div.category__item#switchPhone
                        a(href='#kontakt')
                            svg
                                use(xlink:href='#magellan-iconset--mobilephone')
                            h4 Phone
                            span.category__item__meta & Whatsapp
                            span.goldbar
                br
                br
                br
                div.c.c--overflow
                    div.pamphlet(id='mail')
                        div.pamphlet__description
                            span.pamphlet__description__tag E-Mail address
                            a.pamphlet__description__title(href='mailto:hallo@bymagellan.co') hallo@bymagellan.co
                            div.pamphlet__description__anchor__wrapper
                                svg.icon.icon--s
                                    use(xlink:href='#iconset--briefcase')
                                span.pamphlet__description__anchor We're looking forward to hearing from you!
                    div.pamphlet(id='phony' class='card--inactive')
                        div.pamphlet__description
                            span.pamphlet__description__tag Mobile phone
                            a.pamphlet__description__title(href='tel:+4917639200032') +49 (0)176 3920 0032
                            div.pamphlet__description__anchor__wrapper
                                svg.icon.icon--s
                                    use(xlink:href='#iconset--double-tick')
                                span.pamphlet__description__anchor Available via WhatsApp
            hr
            section.blog#blog
                h3 Blog
                div.subtitle__wrapper
                    span.subtitle Our thoughts regarding code & design and photography in German & English.
                br
                br
                br
                br
                br
                div.c.c--overflow
                    
                    +poster('mediummanifest', 'PWA', 'How to implement a Web App Manifest', '14.02.19 - Implementing and including a Web App Manifest is a great extension to your website or PWA. And it’s much much easier than you think!', 'https://medium.com/@jonathanarbely/web-development-how-to-implement-a-web-app-manifest-the-simple-way-7e576d534e92', 'Read post on Medium.com', 'pwa', true)
                    
                    +poster('lrnngsntddct', 'Opinion', 'Learning as an autodidact', '21.05.18 - Whenever I see something done in an impressive and efficient way, it immediately sparks my will to learn that particular skill, whenever, wherever.', 'https://medium.com/@jonathanarbely/the-current-situation-learning-as-an-autodidact-8edb04c78f50', 'Read post on Medium.com', 'seo', true)
                    
                    +poster('bldrvrlstfrkmprmrn', 'Performance', 'Bilder automatisch Komprimieren', '24.12.17 - Einer der einfachsten Wege, eine Website in der Ladezeit performanter zu machen, liegt in der Reduzierung der Dateigrößen aller verwendeten Pixelbilder.', '/blog/2017/bildminifizierung', 'Read', 'performance')
                    
                    +poster('wllppr', 'Wallpaper', "New Year in Paris", '29.10.17 - The first Wallpaper-Collection by Magellan: “New Year in Paris”. Moments in black & white. All images were taken between the last days of December 2016 and the first days of 2017 in Paris, France.', '/blog/2017/parisnewyears', 'Open Gallery', 'wallpaper')
                    
                    //-poster('nglrvsntv', 'Forschung', 'Hybrid vs. Native', 'Anfang 2018 - Ein Teil meiner Bachelorthesis war die Erforschung der Performanceunter-schiede von nativen und hybriden Apps (auf Basis von AngularJS). Die unterschiedlichen Testdurchläufe wurden dokumentiert...', '#blog', 'Demnächst..', 'research')
                    
                    //-poster('rtfmglln', 'UI', 'Art of Magellan', 'Nach vierjährigem Tätigkeit als Selbst-ständiger und etwas über ein Jahr nach der Idee & Initative, Magellan zu Gründen, begann ich mit der umfassenden Neugestaltung unseres Webauftritts.', '#', 'Caste Study lesen', 'ui')
                //-br
                //-div.c.loadmore__anime--rtl
                    span.loadmore Zum Blog
                    img.icon.icon--s.icon--rtl(src='assets/images/vector/iconset/next.svg')
            hr
            section.testimonials#testimonials
                h3 Testimonials
                div.subtitle__wrapper
                    span.subtitle What companies think about our work.
                //-.c
                    span.goldbar
                br
                br
                br
                br
                div.c.c--overflow.quote.quote--tariffuxx.hide
                    +card('', 'Ingo Just - Founder & CEO', '10/2017', 'Tariffuxx.de', 'Together with Magellan, we planned and realized our first web relaunch. Over a period of 5 months a good cooperation developed through transparent working methods, active exchange and using modern project tools. From concept to finished code we always had enough influence on the development. Changes and suggestions for improvement were quickly taken into account and successfully implemented. We liked the close cooperation and are extremely satisfied with the result. Especially the finished responsive design has kept what it promised. (Translated from German)', '', '', '', '', 'noimage')
                div.c.c--overflow.quote.quote--unsplash.hide
                    +card('', 'Product Team', '04/2019', 'Unsplash.com', "Jonathan has outlined an issue for our team on how we can significantly improve load times and save data for our users when they're interacting with pictures on our search-results page. Thank you so much for this feedback!", '', '', '', '', 'noimage')
                div.c.c--overflow.quote.quote--messmer.hide
                    +card('', 'Diana Markulin - Sales & Graphics Manager', '09/2017', 'messmer-karriere.de', 'Mr. Arbely has fully fulfilled our vision for a modern career website. The direct and uncomplicated communication, whether by phone, by mail or even by WhatsApp, was very much appreciated. The implementation of small additions through the WordPress CMS is easy and thus enhances our candidate acquisition. (Translated from German)', '', '', '', '', 'noimage')
                div.c.c--overflow.quote.quote--jsg.hide
                    +card('', 'Dr. Bettina Brückner - Chairwoman of the Legal Study Society Karlsruhe', '09/2017', 'jsg-karlsruhe.de', 'Mr. Arbely designed and set up the homepage for our society within a very short time of a few weeks. He has fully implemented our wishes regarding the design and the structure of the content; the cooperation and communication was smooth. The homepage is very easy to use and user-friendly was met with much praise and encouragement. We are extremely satisfied with this cooperation! (Translated from German)', '', '', '', '', 'noimage')
                div.c.c--overflow.quote.quote--ic
                    +card('', 'Peter Kranz, ex Head of IT Inter Chalet Freiburg / CIO Holiday Home Division', '04/2018', 'interhome.at', 'Magellan Code & Design Consulting supported the Inter Chalet Ferienhausgesellschaft mbH and Interhome AG in the web development of the new Interhome websites. Here, Mr. Arbely was instrumental in the design and implementation from the start, where he designed the home-, detail- and searchresult-page and made an essential contribution to the successful implementation of the project due to his permanent search for improvements (e.g. performance wise). Our front-end workflow could be adapted and optimized according to the recommendations made. We have benefited greatly from the extensive knowledge of the workflow with Gulp.js by Mr. Arbely. We would like to take this opportunity to thank him for the excellent and successful cooperation. We were very satisfied with the cooperation and the result.', '', '', '', '', 'noimage')
                br
                .c.quote.quote__customerbranding
                    a(href='#testimonials')
                        svg.quote__customerbranding.quote__customerbranding--ic
                            use(xlink:href='#testimonials--interchalet')
                    span.liluzivert.liluzivert--r
                    a(href='#testimonials')
                        svg.quote__customerbranding.quote__customerbranding--inactive.quote__customerbranding--unsplash
                            use(xlink:href='#testimonials--unsplash')
                    span.liluzivert.liluzivert--r
                    a(href='#testimonials')
                        svg.quote__customerbranding.quote__customerbranding--inactive.quote__customerbranding--tariffuxx
                            use(xlink:href='#testimonials--tariffuxx')
                    span.liluzivert.liluzivert--r
                    a(href='#testimonials')
                        svg.quote__customerbranding.quote__customerbranding--inactive.quote__customerbranding--messmer
                            use(xlink:href='#testimonials--messmer')
                    span.liluzivert.liluzivert--r
                    a(href='#testimonials')
                        svg.quote__customerbranding.quote__customerbranding--inactive.quote__customerbranding--jsg
                            use(xlink:href='#testimonials--jsg')
                br
                br
        
        include _includes/_footer.pug
        +footer('en')
        
        include _includes/_sw.pug