include _mixins/_card.pug
include _mixins/_ticket.pug
include _mixins/_pamphlet.pug
include _mixins/_poster.pug
include _mixins/_title.pug
include _mixins/_css.pug

doctype html
html(lang="de")
    head
        include _includes/_meta.pug
        +css('index')
        include _includes/_js.pug
        script(src='/assets/plugins/jquery-smoothscroll/jquery-smoothscroll.min.js' type='text/javascript' defer)
    
    body
        include /_includes/_globalbody.pug
    
        header
            .gradient--top
            include _includes/_nav.pug
            +nav('index')
            +title('Ihr Projekt,', 'Professionelle Web- & Appentwicklung / Pixelperfect UI- & Screendesign / Printdesign / Workflow- & Performance-Consulting / SEO / On Site Presence', 'Meine Kompetenzen', '#kompetenzen', 'meine Ambition.', true)
            .gradient--bottom
        script.
            // Randomize Headerimage
            var myArray = [
              "url('/assets/images/pixel/magellanmedia-hero.jpg')",
              "url('/assets/images/pixel/magellanmedia-hero-ii.jpg')",
              "url('/assets/images/pixel/magellanmedia-hero-iii.jpg')"
            ];
            $('header').css('background-image',myArray[Math.floor(Math.random()*myArray.length)]);
            
        main
            section.knowhow#kompetenzen
                h3 Kompetenzen
                div.filter
                    span.petals
                    a.filter__item.filter__item--active#dev(href='#kompetenzen') Web &amp; App
                    a.filter__item#design(href='#kompetenzen') Print &amp; Screendesign
                br
                br
                br
                br
                div.category#skillsDev
                    div.category__item.category__item--active#switchFrontend
                        svg
                            use(xlink:href='#magellan-iconset--frontend')
                        h4 Frontend
                        span.category__item__meta Entwicklung
                        span.goldbar
                    div.category__item#switchBackend
                        svg
                            use(xlink:href='#magellan-iconset--backend')
                        h4 Backend
                        span.category__item__meta Entwicklung
                        span.goldbar
                    div.category__item#switchPerformance
                        svg
                            use(xlink:href='#magellan-iconset--performance')
                        h4 Performance
                        span.category__item__meta Consulting
                        span.goldbar
                div.category.category--inactive#skillsDesign
                    div.category__item.category__item--active#switchDesign
                        svg
                            use(xlink:href='#magellan-iconset--frontend')
                        h4 Screendesign
                        span.category__item__meta & UI
                        span.goldbar
                    div.category__item#switchPrint
                        svg
                            use(xlink:href='#magellan-iconset--seo')
                        h4 Print
                        span.category__item__meta Design
                        span.goldbar
                br
                br
                div.c.c--overflow
                    +card('cardFrontend', 'Webentwicklung', '', 'Frontend', 'Ich baue responsive, wartbare, hochkompatible und performante Frontenderlebnisse für das moderne Web. Dazu nutze ich ein großes Spektrum modernster Webtechnologien wie Pug (HTML), SASS (+BEM), AngularJS, jQuery und professionelle Workflow-/ Codeversionierungstools wie NPM, Gulp und Git.', '', '')
                    
                    +card('cardBackend', 'Web- & Appentwicklung', '', 'Backend', 'Ich baue Content Management Systeme, serverseitige Software sowie Erweiterungen & Themes für WordPress nach Maß. Dafür setze ich auf PHP und mySQL. Progressive Web-Apps, SPAs und hybride Applikationen plane und realisiere ich auf Basis des ausgezeichneten Backends Firebase sowie der MVC Frontend-Architektur AngularJS und auf Wunsch dem Ionic Framework.', '', '', 'card--inactive')
                    
                    +card('cardPerformance', 'Beratung', '', 'Performance', 'Performance im Web ist ein Muss, um ein über alle Endgeräte & Netzarten hinweg solides Produkt bieten zu können und ein gutes Benutzererlebniss zu schaffen, welches Kunden erfreut & bindet. Auch um Abstufungen durch Google zu vermeiden. Blitzschnelles Above-the-Fold laden, komprimierte Inhalte, GZIP und CDN-Distribution bilden ein Auszug möglicher Maßnahmen.', '', '', 'card--inactive')
                    
                    
                    +card('cardScreendesign', 'Konzeption & Design', '', 'Screendesign', 'Von der Konzeption bis zum fertigen interaktiven Screendesign (Mockup) über die Integration Ihrer Wünsche & Anforderungen und unter Beachtung der neuesten Erkenntnisse & Trends aus Forschung und Fachmedien gestalte ich iterativ moderne und ansprechende Screendesigns. Auf Wunsch wird der Gestaltungsprozess in einem Styleguide dokumentiert.', '', '', 'card--inactive card--print')
                    
                    +card('cardPrint', 'Konzeption & Design', '', 'Printdesign', 'Von der Konzeption bis zur Drucklegung setze ich digitale und analoge Printprodukte um. Dazu zählen beispielsweise Poster, Flyer und Visitenkarten. Ich verwende professionelle Satz- und Vektorprogramme sowie passende Farbprofile (angepasst an den Drucker/die Druckerei), um einen reibungslosen Druck und ein erstklassiges Ergebnis zu schaffen.', '', '', 'card--inactive card--print')

            hr
            section.showcase#impressionen
                h3 Impressionen
                div.filter
                    a.filter__item.filter__item--active#code(href='#impressionen') Web &amp; App
                    a.filter__item#designs(href='#impressionen') Print &amp; Design
                    a.filter__item#plugins(href='#impressionen') Plugins
                br
                br
                br
                br
                br
                div.c.c--overflow
                    //- Code Category
                    
                    +card('ih', 'Frontend, Design, Performance & Workflow', '02/2018', 'Interhome', 'Interhome bietet über 33.000 qualitätsgeprüfte Ferien-häuser und -wohnungen online an. Zusammen mit dem Interchalet Team in Freiburg war ich maßgeblich an der Umsetzung der neuen mobiltauglichen Website beteiligt, welche iterativ und agil mit SCRUM umgesetzt wurde.', 'projekte/2018/interhome.html', 'Projektbericht lesen', 'cat_code')

                    +card('messmer', 'Design, Umsetzung & SEO', '02/2017', 'Messmer Pen Karriere', 'Für die Messmer Pen GmbH in Emmendingen wurde ein Karriereportal mit CMS-Anbindung konzipiert, iterativ gestaltet und responsiv umgesetzt. Die Mitarbeiter können alle Inhalte selbst aktualisieren und pflegen.', 'projekte/2017/messmerkarriere.html', 'Case Study lesen', 'cat_code', '', '', 'true', 'https://dribbble.com/shots/4599630-Quality-Pen-Company-Career-Website')
                    
                    +card('tariffuxx', 'Design & Umsetzung', '04/2017', 'Tariffuxx.de', 'Für den marktführenden B2B-Dienstleister für Tarifvergleiche in der Kommunikationsbranche wurde das CI überarbeitet & vereinheitlicht sowie ein neuer Webauftritt (B2B & erstmals B2C) und Printmaterial entworfen und entwickelt.', 'https://tariffuxx.de/', 'Fertige Website besuchen', 'cat_code', true, '', 'true', 'https://dribbble.com/shots/4502341-Price-Comparison-Website-Design-Bright-Colorful')
                    
                    +card('ph', 'Design', '2016 bis 2017', 'Profi-Homepage', 'Für die Konstanzer Agentur Profi-Homepage der Mediafavoriten GmbH ist im Laufe unserer Zusammenarbeit eine umfangreiche Kollektion unterschiedlichster Konzepte sowie Screen- & Printdesigns für Kunden versch. Branchen entstanden.', 'projekte/2016/ph.html', 'Screendesigns entdecken', 'cat_code')
                    
                    +card('oculustravel', 'Design & Umsetzung', '08/2016', 'Oculus for Travel', 'Im Rahmen einer Veranstaltung an der Hochschule Furtwangen University ist das Konzept "Oculus Rift & Virtual Reality für Reisebüros" entstanden. Parallel zum Projekt – von der ersten Zeichnung bis zur responsiven Website – bildete sich schnell ein effizienter Workflow.', 'projekte/2016/oculusfortravel.html', 'Screendesigns entdecken', 'cat_code', '', '', 'true', 'https://dribbble.com/shots/4502316-Oculus-Rift-VR-for-Travel-Agencies')
                    
                    +card('hallo', 'Forschung, Design & Umsetzung', '02/2017', 'Hallo App', 'Die auf den aktuellsten Webtechnologien basierende hybrid App "Hallo" entstand als praktischer Teil meiner Bachelorthesis und diente dem Vergleich von nativen und hybriden Apps auf verschiedenen Plattformen und Smartphones. Anhand zahlreicher Messungen wurde...', '#impressionen', 'Work in Progress', 'cat_code')
                    
                    +card('tandem', 'Forschung, Design & Umsetzung', '01/2016', 'Tandem', 'Das gescheiterte Startup. Die Idee: Ein soziales Netzwerk, um Menschen zu finden, die das eigen Hobby teilen, um so neue Freundschaften zu schließen und sich an fremden Orten besser einzuleben. Die Umsetzung? Bald im Projektbericht nachzulesen.', '#impressionen', 'Mai 2018', 'cat_code')
                    
                    +card('app', 'Designprojekt', '06/2016', 'App: Röntgen', 'Im Rahmen der Veranstaltung "Ambient Media" an der Hochschule Furtwangen University ist das App-Konzept "Röntgen" entstanden. Ziel waren leichte Bedienbarkeit durch klare Benutzeroberfläche und schnelle Informationsvermittlung.', 'https://dribbble.com/shots/4563908-Augmented-Reality-App-Design-Concept', 'Auf Dribbble öffnen', 'cat_code', true, '', 'true', 'https://dribbble.com/shots/4563908-Augmented-Reality-App-Design-Concept')
                    
                    +card('bymagellan', 'Design & Umsetzung', '10/2017', 'Art of Magellan', 'Ein Jahr nach Umfirmierung hin zu Magellan (um Aufträge an andere Freelancer unter einem Namen zu vergeben) und bau des Portfolios, ging ich dazu über das minimalistische Design und die Inhaltsstruktur zu überarbeiten und entsprechend weiterzuentwickeln.', '#impressionen', 'Atomic Styleguide WIP', 'cat_code', '', '', 'true', 'https://dribbble.com/shots/4497907-Minimalist-Portfolio-Design-bymagellan-co')
                    
                    //- Design Category
                    
                    +card('rezept', 'Printdesign', '11/2016', 'Rezeptvorlage', 'Im Rahmen der Veranstaltung Typographie 1 an der Hochschule Furtwangen ist im Wintersemester 16/17 ein gestalterisches und inhaltliches Konzept zur Darstellung von Texten am Beispiel eines exotischen Kochrezepts entstanden.', 'https://www.dropbox.com/s/lfcks258pevespk/jonathan_arbely_rezept.pdf?dl=0', 'Rezept öffnen (PDF - 7.5MB)', 'cat_design', true)
                    
                    +card('medienwerke', 'Printdesign', '01/2017', 'Kursplakat', 'Im Rahmen der Veranstaltung Typographie 1 an der Hochschule Furtwangen ist im Wintersemester 16/17 ein Plakat zur Bewerbung des Kurses während dem "Tag der Medien" an der Fakultät Digitale Medien entstanden.', 'https://www.dropbox.com/s/4artfhni3267sw5/jonathan_arbely_medienwerke-plakat.pdf?dl=0', 'Plakat öffnen (PDF - 21MB)', 'cat_design', true)
                    
                    +card('roadtrip', 'Printdesign', '12/2016', 'Buchtitel', 'Im Rahmen der Veranstaltung Typo. 1 an der Hochschule Furtwangen ist eine fiktive Buchtitelgestaltung entstanden. Der Schriftzug "Roadtrip" wurde erst Kalligraphiert und anschließend mit Erde beklebt und gut beleuchtet photographiert. Feinschliff in Photoshop.', 'https://www.dropbox.com/sh/ftlqqkokw2b01cx/AACSOF4ugwVY4IW_18g1U5w5a?dl=0', 'Arbeit entdecken', 'cat_design', true)
                    
                    +card('juedlehrhaus', 'Printdesign', '11/2016', 'Flyer', 'Für das Jüdische Lehrhaus Emmendingen wurde ein Flyer im Satzprogramm Adobe InDesign gestaltet, gesetzt und in Druck gegeben. Der Flyer informierte über Veranstaltungen im Winter 2016 bis Frühjahr 2017.', 'http://www.juedisches-museum-emmendingen.de/juedisches-lehrhaus-programm-winter-2016-fruehjahr-2017-5777/', 'Flyer öffnen', 'cat_design', true)
                    
                    //- Plugin Category
                    
                    +card('ull', 'jQuery Plugin', '01/2018', 'Unslider Lazyload & Thumbnails', 'Extends unslider.js with lazyloading functionality, enables sourceset usage and introduces Thumbnails. Fully opensource and extendable. Powers websites that are used by thousands every month.', 'projekte/2018/unsliderlazyload.html', 'Demo & Code', 'cat_plugins')
                br
                //-div.c
                    span.loadmore
                        img.icon.icon--m(src='assets/images/vector/iconset/cloud-computing.svg')
                        | Mehr hervorgehobene Projekte
                    //- Onclick, inject a pug generated html structure with more projects
                br
                br
                h5 Aktuelle Projekte
                br
                div.c.c--overflow
                    +pamphlet('interchalet', 'Frontend & Design', 'Interchalet Freiburg', 'Mai 2017 bis heute')
                br
                br
                br
                h5 Weitere Projekte
                br
                div.c.c--overflow
                    //- Code Category
                    +ticket('cnny', 'Auftragsvermittlung - 2018', 'Connys Hundekeksmanufaktur', 'http://relaunch.connys-hundekeksmanufaktur.de/', 'Online ansehen', 'cat_code')
                    +ticket('mskbhz', 'Auftragsvermittlung - 2017', 'Musikverein Buchholz', 'http://mvbuchholz.de/', 'Online ansehen', 'cat_code')
                    +ticket('bbev', 'WordPress - 2017', 'Bies Büdie 05 E.V.', 'http://www.bies-büdie.de', 'Online ansehen', 'cat_code')
                    +ticket('jsg', 'WordPress - 2017', 'Juristische Studiengesell. KA', 'https://jsg-karlsruhe.de', 'Website besuchen', 'cat_code')
                    +ticket('msk', 'WordPress & Theme - 2016', 'MSK - Premium Snow Tech.', 'http://www.msk-snow.com', 'Website besuchen', 'cat_code')
                    +ticket('juedmuseum', 'WordPress - 2015', 'Jüd. Museum Emmendingen', 'http://www.juedisches-museum-emmendingen.de', 'Website besuchen', 'cat_code')
                    +ticket('best', 'HTML5 & CSS3 - 2015', 'B.E.S.T. Büro Service', 'http://buero-express-service-team.com', 'Online ansehen', 'cat_code')
                    +ticket('grundschule', 'WordPress - 2014', 'Grundschule Windenreute', 'http://www.grundschule-windenreute-maleck.de', 'Website besuchen', 'cat_code')
                    +ticket('derwisch', 'WordPress - 2014', 'Derwisch Konstanz', 'http://www.derwisch-pizza-döner.de', 'Website besuchen', 'cat_code')
                    +ticket('fewo', 'HTML5 & CSS3 - 2013', 'Ferienwohnung Gutjahr', 'http://www.ferienwohnung-gutjahr.de', 'Online ansehen', 'cat_code')
                    
                    //- Design Category
                    +ticket('gglmyb', 'Infografik', 'Google My Business', 'https://www.profi-homepage.de/infografik-google-my-business/', 'Online ansehen', 'cat_design')
            hr
            section.team#team
                h3 Über mich
                div.subtitle__wrapper
                    span.subtitle Professionelle Webdienstleistungen, Design & Consulting
                br
                br
                br
                br
                div.portfolio__wrapper
                    div.portfolio
                        div.portfolio__image
                        div.portfolio__content
                            svg.portfolio__content__ornament
                                use(xlink:href='#ornament')
                            span.portfolio__content__name Jonathan Arbely
                            span.portfolio__content__rank Developer & Designer
                            br
                            p.portfolio__content__text--quote „Make overachieving a habit.“
                            p.portfolio__content__text Seit 2013 als freiberuflicher Webentwickler & Gestalter tätig, habe ich mit verschiedenen Kunden zusammengearbeitet sowie an abwechslungsreichen Projekten mitgewirkt. Meine Motivation ist mein Anspruch: Denn für Webenthusiasten ist es selbstverständlich, sich ständig in Themen rund um Entwicklung, Design und Best-Practices weiterzuentwickeln und Neues auszuprobieren. Um dazuzulernen und ein tiefes Verständnis über die Technologien zu behalten, die unsere digitalisierte Welt antreiben.
                            p.portfolio__content__text--edu Bachelor of Science an der Fakultät „Digitale Medien“ der Hochschule Furtwangen University.
                            br
                            svg.portfolio__content__leaf
                                use(xlink:href='#leaf')
                            a.portfolio__content__cta.btn.btn--light(href='assets/files/Jonathan Arbely.vcf' target='_blank') Digitale Visitenkarte
            br
            hr
            section.contact#kontakt
                h3 Kontakt
                div.subtitle__wrapper
                    span.subtitle Ob internationaler Konzern oder regionaler Verein, Ihr Projekt ist meine Ambition.
                        br
                div.subtitle__wrapper
                    .gps
                        .pulse
                        .dot
                    span.subtitle.ruby Aktuell nur auf Anfrage verfügbar
                br
                br
                br
                br
                div.category
                    div.category__item.category__item--active#switchMail
                        svg
                            use(xlink:href='#magellan-iconset--mail')
                        h4 E-Mail
                        span.category__item__meta Adresse
                        span.goldbar
                    div.category__item#switchPhone
                        svg
                            use(xlink:href='#magellan-iconset--mobilephone')
                        h4 Telefon
                        span.category__item__meta & Whatsapp
                        span.goldbar
                br
                br
                br
                div.c.c--overflow
                    div.pamphlet(id='mail')
                        div.pamphlet__description
                            span.pamphlet__description__tag E-Mail-Adresse
                            a.pamphlet__description__title(href='mailto:ahoy@bymagellan.co') ahoy@bymagellan.co
                            div.pamphlet__description__anchor__wrapper
                                svg.icon.icon--s
                                    use(xlink:href='#iconset--briefcase')
                                span.pamphlet__description__anchor Auf gute Zusammenarbeit!
                    div.pamphlet(id='phony' class='card--inactive')
                        div.pamphlet__description
                            span.pamphlet__description__tag Mobilnummer
                            a.pamphlet__description__title(href='tel:017639200032') +49 (0)176 3920 0032
                            div.pamphlet__description__anchor__wrapper
                                svg.icon.icon--s
                                    use(xlink:href='#iconset--double-tick')
                                span.pamphlet__description__anchor Auch WhatsApp
            hr
            section.blog#blog
                h3 Blog
                div.subtitle__wrapper
                    span.subtitle Beiträge zu Code & Design, Design Ressourcen und Fotografie
                br
                br
                br
                br
                br
                div.c.c--overflow
                    
                    +poster('wllppr', 'Wallpaper', "New Year in Paris", '29.10.17 - Die erste Wallpaperkollektion von Magellan: "Neujahr in Paris". Momente in schwarz & weiß. Die Fotografien sind über die Neujahrstage 16/17 in  Kollaboration mit Valeria Raffa entstanden.', '/blog/2017/parisnewyears.html', 'Zur Galerie', 'wallpaper')
                    
                    +poster('bldrvrlstfrkmprmrn', 'Performance', 'Bilder automatisch Komprimieren', '24.12.17 - Einer der einfachsten Wege, eine Website in der Ladezeit performanter zu machen, liegt in der Reduzierung der Dateigrößen aller verwendeten Pixelbilder.', '/blog/2017/bildminifizierung.html', 'Lesen', 'performance')
                    
                    +poster('lrnngsntddct', 'Opinion', 'Learning as an autodidact', '21.05.18 - Whenever I see something done in an impressive and efficient way, it immediately sparks my will to learn that particular skill, whenever, wherever.', 'https://medium.com/@jonathanarbely/the-current-situation-learning-as-an-autodidact-8edb04c78f50', 'Beitrag auf Medium.com lesen', 'seo', true)
                    
                    //-poster('nglrvsntv', 'Forschung', 'Hybrid vs. Native', 'Anfang 2018 - Ein Teil meiner Bachelorthesis war die Erforschung der Performanceunter-schiede von nativen und hybriden Apps (auf Basis von AngularJS). Die unterschiedlichen Testdurchläufe wurden dokumentiert...', '#blog', 'Demnächst..', 'research')
                    
                    //-poster('rtfmglln', 'UI', 'Art of Magellan', 'Nach vierjährigem Tätigkeit als Selbst-ständiger und etwas über ein Jahr nach der Idee & Initative, Magellan zu Gründen, begann ich mit der umfassenden Neugestaltung unseres Webauftritts.', '#', 'Caste Study lesen', 'ui')
                //-br
                //-div.c.loadmore__anime--rtl
                    span.loadmore Zum Blog
                    img.icon.icon--s.icon--rtl(src='assets/images/vector/iconset/next.svg')
            hr
            section.testimonials
                h3 Testimonials
                div.subtitle__wrapper
                    span.subtitle Das denken Unternehmen über Magellan Code & Design Consulting
                //-.c
                    span.goldbar
                br
                br
                br
                br
                div.c.c--overflow.quote.quote--tariffuxx.hide
                    +card('', 'Ingo Just - Gründer & CEO', '10/2017', 'Tariffuxx.de', 'Zusammen mit Magellan haben wir unseren ersten Web-Relaunch geplant und realisiert. Über einen Zeitraum von 5 Monaten entwickelte sich durch transparente Arbeitsweise, aktivem Austausch und unter Verwendung modernen Projekttools eine gute Zusammenarbeit. Vom Konzept bis zum fertigen Code hatten wir stets genug Einfluss auf die Entwicklung. Änderungen und Verbesserungsvorschläge wurden schnell berücksichtigt und erfolgreich umgesetzt. Wir waren mit der Zusammenarbeit und sind mit dem Ergebnis außerordentlich zufrieden. Besonders das fertige Responsive Design hat uns sehr zugesagt.', '', '', '', '', 'noimage')
                div.c.c--overflow.quote.quote--messmer.hide
                    +card('', 'Diana Markulin - Vertriebsmanagerin & Grafikleitung', '09/2017', 'messmer-karriere.de', 'Herr Arbely hat unsere Vorstellungen zu einer modernen Karrierewebsite voll erfüllt. Die direkte Absprache und die unkomplizierte Kommunikation, ob telefonisch, per Mail oder auch mal per WhatsApp hat uns sehr gut gefallen. Auch die Umsetzung kleiner Ergänzungen verläuft zügig und erleichtert so unsere Bewerberakquise.', '', '', '', '', 'noimage')
                div.c.c--overflow.quote.quote--jsg.hide
                    +card('', 'Dr. Bettina Brückner - Vorsitzende der Juristischen Studiengesellschaft Karlsruhe', '09/2017', 'jsg-karlsruhe.de', 'Herr Arbely hat die Homepage für unsere Gesellschaft entworfen und eingerichtet, und zwar innerhalb einer sehr kurzen Zeit von wenigen Wochen. Dabei hat er unsere Wünsche hinsichtlich der Gestaltung und der inhaltlichen Anordnung vollständig umgesetzt; die Zusammenarbeit und Kommunikation war reibungslos. Die Homepage ist sehr bedienungs- und benutzerfreundlich und ist auf viel Lob und Zuspruch gestoßen. Wir sind außerordentlich zufrieden mit dieser Leistung!', '', '', '', '', 'noimage')
                div.c.c--overflow.quote.quote--ic
                    +card('', 'Peter Kranz, IT-Leiter Inter Chalet / CIO Holiday Home Division', '04/2018', 'interhome.at', 'Magellan Code & Design Consulting unterstützte die Inter Chalet Ferienhausgesellschaft mbH und Interhome AG in der Webentwicklung der neuen Interhome Website. Hierbei war Herr Arbely maßgeblich am Design sowie der Umsetzung der Start-, Detail- und Trefferseite beteiligt und leistete aufgrund seiner permanenten Suche nach Performanceverbesserungen einen essentiellen Beitrag zur erfolgreichen Umsetzung des Projekts. Unser Frontendworkflow konnte gemäß den erbrachten Empfehlungen angepasst und optimiert werden. Wir haben hier sehr von den umfangreichen Kenntnissen bezüglich des Workflows mit Gulp.js von Herrn Arbely profitiert. Wir möchten uns an dieser Stelle für die hervorragende und erfolgreiche Zusammenarbeit mit Herrn Arbely bedanken. Wir waren mit der Zusammenarbeit und dem Ergebnis sehr zufrieden.', '', '', '', '', 'noimage')
                br
                .c.quote.quote__customerbranding
                    svg.quote__customerbranding.quote__customerbranding--ic
                        use(xlink:href='#testimonials--interchalet')
                    span.liluzivert.liluzivert--r
                    svg.quote__customerbranding.quote__customerbranding--inactive.quote__customerbranding--tariffuxx
                        use(xlink:href='#testimonials--tariffuxx')
                    span.liluzivert.liluzivert--r
                    svg.quote__customerbranding.quote__customerbranding--inactive.quote__customerbranding--messmer
                        use(xlink:href='#testimonials--messmer')
                    span.liluzivert.liluzivert--r
                    svg.quote__customerbranding.quote__customerbranding--inactive.quote__customerbranding--jsg
                        use(xlink:href='#testimonials--jsg')
                br
                br
                //-br
                //-br
                //-hr
                //-section.instagram
                    h3 Instagram
                    div.subtitle__wrapper
                        span.subtitle Feed.
                    br
                    br
                    .c.c--nowrap
                        .c__inner--xscrolling
                            blockquote(class="instagram-media" data-instgrm-captioned data-instgrm-version="7" style="background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:100%;")
                                div(style="padding:8px;")
                                    div(style=" background:#F8F8F8; line-height:0; margin-top:40px; padding:50.0% 0; text-align:center; width:100%;")
                                        div(style=" background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAMUExURczMzPf399fX1+bm5mzY9AMAAADiSURBVDjLvZXbEsMgCES5/P8/t9FuRVCRmU73JWlzosgSIIZURCjo/ad+EQJJB4Hv8BFt+IDpQoCx1wjOSBFhh2XssxEIYn3ulI/6MNReE07UIWJEv8UEOWDS88LY97kqyTliJKKtuYBbruAyVh5wOHiXmpi5we58Ek028czwyuQdLKPG1Bkb4NnM+VeAnfHqn1k4+GPT6uGQcvu2h2OVuIf/gWUFyy8OWEpdyZSa3aVCqpVoVvzZZ2VTnn2wU8qzVjDDetO90GSy9mVLqtgYSy231MxrY6I2gGqjrTY0L8fxCxfCBbhWrsYYAAAAAElFTkSuQmCC); display:block; height:44px; margin:0 auto -44px; position:relative; top:-22px; width:44px;")
                                    p(style=" margin:8px 0 0 0; padding:0 4px;")
                                        a(href="https://www.instagram.com/p/BcRESWFFHK8/" style=" color:#000; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none; word-wrap:break-word;" target="_blank") Find my classy collection of black &amp; white wallpapers titled &#39;New Year in Paris&#39; for your Phone, PC or Mac Display and Ultrawide Monitor under the Blog section of my Portfolio. Free to use for you to enjoy! Link in Bio. 🖤📷 https://bymagellan.co/blog/2017/parisnewyears.html #paris #wallpaper #iphone #black #clay #wallpapers #blackandwhitephotography #blackandwhitephoto #blackandwhite #bw #photography #streetphotography #freewallpaper #collection #wallpapercollection #magellan #vsco #vscox #marais #lemarais #surfacestudio #surface #mockup #iphonex
                                    p(style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;") Ein Beitrag geteilt von Jonathan Arbely (@jonathanoffroad) am
                                        time(style=" font-family:Arial,sans-serif; font-size:14px; line-height:17px;" datetime="2017-12-04T04:19:50+00:00") 3. Dez 2017 um 20:19 Uhr

                            blockquote(class="instagram-media" data-instgrm-captioned data-instgrm-version="7" style="background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:100%;")
                                div(style="padding:8px;")
                                    div(style=" background:#F8F8F8; line-height:0; margin-top:40px; padding:50.0% 0; text-align:center; width:100%;")
                                        div(style=" background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAMUExURczMzPf399fX1+bm5mzY9AMAAADiSURBVDjLvZXbEsMgCES5/P8/t9FuRVCRmU73JWlzosgSIIZURCjo/ad+EQJJB4Hv8BFt+IDpQoCx1wjOSBFhh2XssxEIYn3ulI/6MNReE07UIWJEv8UEOWDS88LY97kqyTliJKKtuYBbruAyVh5wOHiXmpi5we58Ek028czwyuQdLKPG1Bkb4NnM+VeAnfHqn1k4+GPT6uGQcvu2h2OVuIf/gWUFyy8OWEpdyZSa3aVCqpVoVvzZZ2VTnn2wU8qzVjDDetO90GSy9mVLqtgYSy231MxrY6I2gGqjrTY0L8fxCxfCBbhWrsYYAAAAAElFTkSuQmCC); display:block; height:44px; margin:0 auto -44px; position:relative; top:-22px; width:44px;")
                                    p(style=" margin:8px 0 0 0; padding:0 4px;")
                                        a(href="https://www.instagram.com/p/Bb3CFEPFWmn/" style=" color:#000; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none; word-wrap:break-word;" target="_blank") It&#39;s always great when discarded concepts become useful again! This is a blog design-concept I did some time ago. Complete with a styleguide. I reused and further developed some elements to use on my portfolio&#39;s blog over at bymagellan.co! Swipe right to see more. ⌚ #screendesign #blog #webdedign #ui #ipad #mockup #web #design #black #styleguide #freelance #freelancer @welovewebdesign #welovewebdesign #typography #adventure #travelblog #utah #scenic #earthroamer
                                    p(style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;") Ein Beitrag geteilt von Jonathan Arbely (@jonathanoffroad) am
                                        time(style=" font-family:Arial,sans-serif; font-size:14px; line-height:17px;" datetime="2017-11-24T01:40:17+00:00") 23. Nov 2017 um 17:40 Uhr

                            blockquote(class="instagram-media" data-instgrm-captioned data-instgrm-version="7" style="background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:100%;")
                                div(style="padding:8px;")
                                    div(style=" background:#F8F8F8; line-height:0; margin-top:40px; padding:50.0% 0; text-align:center; width:100%;")
                                        div(style=" background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAMUExURczMzPf399fX1+bm5mzY9AMAAADiSURBVDjLvZXbEsMgCES5/P8/t9FuRVCRmU73JWlzosgSIIZURCjo/ad+EQJJB4Hv8BFt+IDpQoCx1wjOSBFhh2XssxEIYn3ulI/6MNReE07UIWJEv8UEOWDS88LY97kqyTliJKKtuYBbruAyVh5wOHiXmpi5we58Ek028czwyuQdLKPG1Bkb4NnM+VeAnfHqn1k4+GPT6uGQcvu2h2OVuIf/gWUFyy8OWEpdyZSa3aVCqpVoVvzZZ2VTnn2wU8qzVjDDetO90GSy9mVLqtgYSy231MxrY6I2gGqjrTY0L8fxCxfCBbhWrsYYAAAAAElFTkSuQmCC); display:block; height:44px; margin:0 auto -44px; position:relative; top:-22px; width:44px;")
                                    p(style=" margin:8px 0 0 0; padding:0 4px;")
                                        a(href="https://www.instagram.com/p/BbrkWH9l6be/" style=" color:#000; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none; word-wrap:break-word;" target="_blank") Magellan 2.0 is online and ready for 2018! 〽 https://bymagellan.co After months of hard work, rethinking the design language, refocusing content and rewriting the whole site from the ground up using latest technologies and applying best practices, the latest and best version of my portfolio is online and available for everyone to visit &amp; experience! Magellan Media is now Magellan Code &amp; Design 🐺 A huge thanks to everyone who sent me their feedback in the last two weeks after the &#34;silent&#34; go-live! Check out the code when you get a chance: https://github.com/jonathanarbely/bymagellan Feedback is highly appreciated! Onwards! 🎉
                                    p(style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;") Ein Beitrag geteilt von Jonathan Arbely (@jonathanoffroad) am
                                        time(style=" font-family:Arial,sans-serif; font-size:14px; line-height:17px;" datetime="2017-11-19T14:49:55+00:00") 19. Nov 2017 um 6:49 Uhr
                    br
                    .c  
                        a.portfolio__content__cta.btn.btn--light(href='https://www.instagram.com/jonathanoffroad' target='_blank') Follow (730+)
                
                //-script(async defer src="https://platform.instagram.com/en_US/embeds.js")
                
        
        
        include _includes/_footer.pug
        
        script.
            if ('serviceWorker' in navigator) {
              console.log('CLIENT: service worker registration in progress.');
              navigator.serviceWorker.register('/worker.js').then(function() {
                console.log('CLIENT: service worker registration complete.');
              }, function() {
                console.log('CLIENT: service worker registration failure.');
              });
            } else {
              console.log('CLIENT: service worker is not supported.');
            }