- var customers = "25";
- var experience = "8";
- var customerlist = 'Interchalet Freiburg, Messmer Pen, Grundschule Windenreute-Maleck, Juristische Studiengesellschaft Karlsruhe e.V., Tariffuxx GmbH, Jüdische Gemeinde Emmendingen, Jüdisches Museum Emmendingen, Ferienwohnung Gutjahr, BEST Büro Express Services, AH Consult, Bies Büdie 05 eV., Südkurier Medienhaus GmbH, Metzger Kältetechnik, Codematch, CJS-CDKeys, Marx Reinigungs Service, Derwisch Pizza Döner, Gedenkstaettenverbund, Musikverein Buchholz, Connys Hundekensmanufaktur, Autohaus Mayer Renault/Dacia, start-trading.de, Nationale Naturlandschaften e.V., Mekomaga GmbH, Götz Werner Proffesur der Universität Freiburg';

mixin footer(lang)
    if !lang
        footer.c
            .footer__inner

                .footer__adress
                    span.ticket__description__title Anschrift
                    br
                    br
                    p Jonathan Arbely B.Sc.
                    p Vogtsweg 3
                    p 79312 Emmendingen
                    p Baden-Württemberg, DE
                    p.footer__tax Diese Adresse dient dem Erhalt physischer Post und ist nicht Standort unseres Büros. Siehe 
                        a(href='#kontakt') Kontaktdaten
                        | .
                    br
                    a.footer__tax(href='/impressum.html') / Impressum

                .footer__aboutmagellan
                    span.ticket__description__title Ziel & Anspruch
                    br
                    br
                    p Ziel und Anspruch von Magellan ist es, branchenbeste digitale Produkte und Dienstleistungen anzubieten. Das wird durch aktive Kommunikation und einer hingebungsvollen Umsetzung Ihrer Anforderungen & Wünsche erreicht. Grundlagen dafür bilden ein breites Spektrum an medientechnischem Know-how und langjährige Erfahrung sowie ständige Weiterentwicklung & Verbesserung.
                    br
                    p Die Zufriedenheit unserer Kunden und Projektpartner steht an erster Stelle.
                    p Dafür gehen wir die Extrameile.
                    br
                    br
                    .factsdontcareaboutyourfeelings
                        .factsdontcareaboutyourfeelings__inner
                            span.factsdontcareaboutyourfeelings__numeri(title=customerlist)= customers
                            p.factsdontcareaboutyourfeelings__title Zufriedene Kunden
                        .factsdontcareaboutyourfeelings__inner
                            span.factsdontcareaboutyourfeelings__numeri= experience
                            p.factsdontcareaboutyourfeelings__title Jahre Erfahrung
                        .factsdontcareaboutyourfeelings__inner
                            span.factsdontcareaboutyourfeelings__numeri 2
                            p.factsdontcareaboutyourfeelings__title Faktor Verschlüsselung aller Kundendaten

                div.footer__hr
                    hr

                .footer__more.footer__branding
                    a(href='/') Magellan Code & Design Consulting - est. 2013
                    span.liluzivert.liluzivert--s
                    a(href='https://github.com/jonathanarbely' target='_blank' title='Der gesamte Code dieser Website ist Open-Source und in einem Git-Repository einsehbar.')
                        svg
                            use(xlink:href='#github')

                .footer__theme
                    .theme.darkmode
                        span.theme__label(title='Ihr Betriebssystem befindet sich im "Darkmode". Die Anzeige auf dieser Website passt sich dem an.') 🌑 Dunkelmodus
                    .theme.lightmode
                        span.theme__label(title='Ihr Betriebssystem befindet sich in der hellen Standardanzeige.') 🌕 Tagmodus
                
                .footer__more
                    a(href='https://medium.com/@jonathanarbely' target='_blank')
                        svg
                            use(xlink:href='#medium')
                    a(href='https://unsplash.com/@jonathanarbely' target='_blank')
                        img(src='/assets/images/vector/unsplash.svg').footer__sm
                    a(href='https://stackoverflow.com/users/4033913/jonathan-arbely?tab=profile' target='_blank')#sorep
                        svg
                            use(xlink:href='#so')
                    a(href='https://dribbble.com/jarbely' target='_blank')
                        svg.footer__sm
                            use(xlink:href='#dribbble')
                    a(href='https://www.instagram.com/bymagellan/' target='_blank')
                        svg.footer__sm
                            use(xlink:href='#instagram')
    
    else
        footer.c
            .footer__inner

                .footer__adress
                    span.ticket__description__title Address
                    br
                    br
                    p Jonathan Arbely
                    p Vogtsweg 3
                    p 79312 Emmendingen
                    p Baden-Württemberg, Germany
                    p.footer__tax This address is for the receipt of physical mail and is not the location of our office. Reach out to us by 
                        a(href='#kontakt') clicking here
                        | .
                    br
                    a.footer__tax(href='/impressum.html') / Legal Information

                .footer__aboutmagellan
                    span.ticket__description__title Claim
                    br
                    br
                    p The goal and aspiration of Magellan is to provide best-in-class web development, design & consulting services in the Southwest German region and worldwide. This is achieved through active communication and a dedicated implementation of your requirements and wishes. All built using a broad spectrum of media- & web-technology skills and know-how as well as many years of experience and constant self-development and -improvement.
                    br
                    p The satisfaction of our customers and project partners comes first.
                    p For that we go the extra mile.
                    br
                    br
                    div.factsdontcareaboutyourfeelings
                        div.factsdontcareaboutyourfeelings__inner
                            span.factsdontcareaboutyourfeelings__numeri(title=customerlist)= customers
                            p.factsdontcareaboutyourfeelings__title Satisfied Customers
                        div.factsdontcareaboutyourfeelings__inner
                            span.factsdontcareaboutyourfeelings__numeri= experience
                            p.factsdontcareaboutyourfeelings__title Years of Experience
                        div.factsdontcareaboutyourfeelings__inner
                            span.factsdontcareaboutyourfeelings__numeri 2
                            p.factsdontcareaboutyourfeelings__title Factor encryption of all customer data

                .footer__hr
                    hr

                .footer__more.footer__branding
                    a(href='/en') Magellan Code & Design Consulting - est. 2013
                    span.liluzivert.liluzivert--s
                    a(href='https://github.com/jonathanarbely' target='_blank' title='The complete codebase of this Website is Open Source and can be found in this Git-Repository.')
                        svg
                            use(xlink:href='#github')

                .footer__theme
                    .theme.darkmode
                        span.theme__label(title='Your OS is in "Darkmode". This website automatically adjusts to your preffered theme.') 🌑 Darkmode
                    .theme.lightmode
                        span.theme__label(title='Your OS is set to the default "lightmode" view.') 🌕 Lightmode

                .footer__more
                    a(href='https://medium.com/@jonathanarbely' target='_blank')
                        svg
                            use(xlink:href='#medium')
                    a(href='https://unsplash.com/@jonathanarbely' target='_blank')
                        img(src='/assets/images/vector/unsplash.svg').footer__sm
                    a(href='https://stackoverflow.com/users/4033913/jonathan-arbely?tab=profile' target='_blank')#sorep
                        svg
                            use(xlink:href='#so')
                    a(href='https://dribbble.com/jarbely' target='_blank')
                        svg.footer__sm
                            use(xlink:href='#dribbble')
                    a(href='https://www.instagram.com/bymagellan/' target='_blank')
                        svg.footer__sm
                            use(xlink:href='#instagram')