footer.c
    .footer__inner
        
        div.footer__adress
            span.ticket__description__title Anschrift
            br
            br
            p Jonathan Arbely
            p 78120 Furtwangen im Schwarzwald
            p Baden-Württemberg, DE
            br
            //-span.ticket__description__title titel
            //-br
            a(href='https://www.unicef.de/spenden/unicef-pate', target='_blank', title='UNICEF-Pate werden!')
                img.footer__more--logo(src='/assets/images/vector/logos/unicef.svg')
            p Magellan ist UNICEF-Pate und unterstützt UNICEF monatlich mit einer Spende.
            br
            a.footer__tax(href='/impressum.html') / Impressum
            
        div.footer__aboutmagellan
            span.ticket__description__title Ziel & Anspruch
            br
            br
            p Ziel und Anspruch von Magellan ist es, branchenbeste digitale Produkte und Dienstleistungen anzubieten. Das wird durch aktive Kommunikation und einer hingebungsvollen Umsetzung Ihrer Anforderungen & Wünsche erreicht. Grundlagen dafür bilden ein breites Spektrum an medientechnischem Know-how und langjährige Erfahrung sowie ständige Weiterentwicklung & Verbesserung.
            br
            p Die Zufriedenheit meiner Kunden und Projektpartner steht an erster Stelle.
            p Dafür gehe ich die Extrameile.
            br
            br
            div.factsdontcareaboutyourfeelings
                div.factsdontcareaboutyourfeelings__inner
                    span.factsdontcareaboutyourfeelings__numeri(title='Interchalet Freiburg, Messmer Pen, Grundschule Windenreute-Maleck, Juristische Studiengesellschaft Karlsruhe e.V., Tariffuxx GmbH, Jüdische Gemeinde Emmendingen, Jüdisches Museum Emmendingen, Ferienwohnung Gutjahr, BEST Büro Express Services, AH Consult, Bies Büdie 05 eV., Südkurier Medienhaus GmbH, Metzger Kältetechnik, Codematch, CJS-CDKeys, Marx Reinigungs Service, Derwisch Pizza Döner, Gedenkstaettenverbund, Musikverein Buchholz, Connys Hundekensmanufaktur') 20
                    p.factsdontcareaboutyourfeelings__title Zufriedene Kunden
                div.factsdontcareaboutyourfeelings__inner
                    span.factsdontcareaboutyourfeelings__numeri 4
                    p.factsdontcareaboutyourfeelings__title Jahre Erfahrung
                div.factsdontcareaboutyourfeelings__inner
                    span.factsdontcareaboutyourfeelings__numeri 2
                    p.factsdontcareaboutyourfeelings__title Faktor Verschlüsselung all unserer Kundendaten durch Kensington® VeriMark™ und Microsoft BitLocker
        
        div.footer__hr
            hr
        
        div.footer__branding.footer__more
            a(href='/') Magellan: Code & Design - est. 2013
            span.liluzivert.liluzivert--s
            a(href='https://github.com/jonathanarbely', target='_blank', title='Der gesamte Code dieser Website ist OpenSource und in einem Git-Repository einsehbar.')
                img(src='/assets/images/vector/github.svg')
            
        div.footer__more
            //-a(href='#', target='_blank')
                img(src='/assets/images/vector/dribble.svg')
            a(href='https://medium.com/@jonathanarbely', target='_blank')
                img(src='/assets/images/vector/medium.svg')
            a(href='https://stackoverflow.com/users/4033913/jonathan-arbely?tab=profile', target='_blank')
                img(src='/assets/images/vector/so.svg')
            a(href='https://www.instagram.com/jonathanoffroad', target='_blank')
                img(src='/assets/images/vector/instagram.svg')
            