script(src='/assets/plugins/jquery/jquery.min.js', type='text/javascript')
script(src='/assets/plugins/waves/waves.min.js', type='text/javascript')

script(src='/assets/javascript/interactive.js', type='text/javascript')
script(src='/assets/javascript/nav.js', type='text/javascript')