// Global site tag (gtag.js) - Google Analytics
script(src='https://www.googletagmanager.com/gtag/js?id=UA-50961830-5', async)
script.
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-50961830-5', {'anonymize_ip': true});
    
meta(charset='utf-8')
meta(name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1")

meta(name="theme-color" content="#1b1b1c")
link(rel="manifest" href="manifest.json")

meta(name='mobile-web-app-capable' content='yes')
meta(name='apple-mobile-web-app-capable' content='yes')
meta(name='application-name' content='Magellan')
meta(name='apple-mobile-web-app-status-bar-style' content='black')
meta(name='apple-mobile-web-app-title' content='Magellan')
link(rel='icon' sizes='192x192' href='/assets/images/pixel/appicon/m-192.png')
link(rel='apple-touch-icon' href='/assets/images/pixel/appicon/m-192.png')
meta(name='msapplication-TileImage' content='/assets/images/pixel/appicon/m-144.png')
meta(name='msapplication-TileColor' content='#1b1b1c')
meta(name='theme-color' content='#1b1b1c')
meta(property='og:title' content='Magellan')
meta(property='og:type' content='website')
meta(property='og:image' content='/assets/images/pixel/appicon/m-192.png')
meta(property='og:url' content='https://bymagellan.co/')

mixin meta(lang, title)

    if title
        title= title
    else
        title Magellan Code & Design Consulting - Development & Design Freelancer
    
    if !lang
        meta(name='description' content='Ziel und Anspruch von Magellan ist es, branchenbeste Web- & Appentwicklung und bestes Design anzubieten.')
        meta(name='keywords' content='webentwicklung, frontend, backend, print, webdesign, design, freiburg, workflow, agentur, medienagentur, gulpjs, pug, html, css, ionic, ui, ux')
        meta(property='og:description' content='Ziel und Anspruch von Magellan ist es, branchenbeste Web- & Appentwicklung und bestes Design anzubieten.')
        
    else
        meta(name='description' content='The goal and aspiration of Magellan is to provide best-in-class webdevelopment, design & consulting services.')
        meta(name='keywords' content='webdevelopment, frontend, backend, print, webdesign, design, freiburg, workflow, agency, media, gulpjs, pug, html, css')
        meta(property='og:description' content='The goal and aspiration of Magellan is to provide best-in-class webdevelopment, design & consulting services.')
        
link(rel="icon" type="image/png" href="/assets/images/pixel/favicon.png")