-var pageTitle = 'Magellan Code & Design Consulting - Premium Webdienstleistungen, Apps, Websites & Printdesign aus Freiburg'

// Global site tag (gtag.js) - Google Analytics
script(src='https://www.googletagmanager.com/gtag/js?id=UA-50961830-5', async)
script.
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-50961830-5', {'anonymize_ip': true});

title #{pageTitle}
meta(charset='utf-8')
meta(name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1")

meta(name='description' content='Ziel und Anspruch von Magellan ist es, branchenbeste digitale Produkte und Dienstleistungen anzubieten.')

meta(name='keywords' content='webentwicklung, frontend, backend, print, webdesign, design, freiburg, stuttgart, workflow, agentur, medienagentur, gulpjs, pug')

//-meta(property='og:image' content='/og-image.png')

meta(property='og:description' content='Ziel und Anspruch von Magellan ist es, branchenbeste digitale Produkte und Dienstleistungen anzubieten.')

link(rel="shortcut icon" href="/assets/images/pixel/favicon.ico" type="image/x-icon")
link(rel="icon" href="/assets/images/pixel/favicon.ico" type="image/x-icon")