// Color Palette
$gold: #FFCC00
$darkgold: #C59F08
$andromeda: #8901E0
$ruby: #EB2F06B0
$black: #000000
$blackhole: #0E0E0E
$darkness: #1F1F1F
$darkgrey: #2F2F2F
$grey: #3C3C3C
$nebula: #3A4145
$fog: #7D7D7D
$camo: #ADB0A0
$ghost: #EAEAEA
$whitewater: #F1F1F1
$offwhite: #F7F7F7
$white: #FFFFFF
$trans: #FFFFFF00

// Text Colors
$text: $nebula

// Shadows
$shadow-card: 0px 0px 21px 0px rgba(0, 0, 0, .18)

// Display sizes
$probook: 87.5em // 1400px
$ultrabook: 81.25em // 1300px
$bignotebook: 77.5em // 1240px
$notebook: 75em // 1200px
$smallnotebook: 71.25em // 1140px
$tablet-landscape: 68.75em // 1100px
$protablet-landscape: 62.5em // 1000px
$phablet-landscape: 59.375em // 950px
$protablet: 53.125em // 850px
$tablet: 49em // 768px
$phablet: 43.125em // 690px
$smartphone-landscape: 36.25em // 580px
$smartphone: 29.375em // 470px
$smartphone--large: 26.25em // 420px
$smartphone--medium: 23.75em // 380px
$smartphone--small: 21.25em // 340px